<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new post</title>
</head>
<body>
    <h1>Create a New post</h1>
    <form action="/posts/new" method="post">
    <lebal for="title">title</lebal><br>
    <input type="text"id="title" name="title" required><br><br>>
    <label for="content">content:</label><br>
    <textarea id="content" name="content" row="20" cols="40" required></textarea><br><br>
    <input type="submit" value="Create post">
</form>
    <a href="/">Back to home</a>
    
</body>
</html>